In [26]:
import babypandas as bpd
import pandas as pd
import numpy as np

In [27]:
df = bpd.DataFrame([[0, 4], [1, 5], [2, 6], [3, 7]])
pdf = pd.DataFrame([[0, 4], [1, 5], [2, 6], [3, 7]])

In [28]:
df

   0  1
0  0  4
1  1  5
2  2  6
3  3  7

In [29]:
df.head()

   0  1
0  0  4
1  1  5
2  2  6
3  3  7

In [30]:
df.head(2)

   0  1
0  0  4
1  1  5

In [31]:
df.tail(1)

   0  1
3  3  7

In [32]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [33]:
df.columns

Int64Index([0, 1], dtype='int64')

In [34]:
(df
 .sort_index(ascending=False)
 .head()
)

   0  1
3  3  7
2  2  6
1  1  5
0  0  4

In [35]:
df.reindex()

   0  1
0  0  4
1  1  5
2  2  6
3  3  7

In [36]:
df.reindex([2, 1, 0, 3])

   0  1
2  2  6
1  1  5
0  0  4
3  3  7

In [37]:
df.apply(np.sum)

    0
0   6
1  22

In [38]:
df2 = bpd.DataFrame([[4, 8], [5, 9], [6, np.NAN], [7, np.NAN]])
(df
 .append(df2)
)

   0   1
0  0   4
1  1   5
2  2   6
3  3   7
0  4   8
1  5   9
2  6 NaN
3  7 NaN

In [39]:
df2 = bpd.DataFrame([[4, 8], [5, 9], [6, np.NAN], [7, np.NAN]])
(df
 .append(df2)
 .dropna()
 .apply(np.sum)
)

    0
0  15
1  39

In [40]:
df.values

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [41]:
(df
.rename(columns={0:'first'})
.columns
)

Index([u'first', 1], dtype='object')

In [42]:
df.sort_values(0)

   0  1
0  0  4
1  1  5
2  2  6
3  3  7

In [43]:
df2 = bpd.DataFrame([[4, 8], [5, 9], [6, np.NAN], [7, np.NAN]])
(df
 .append(df2)
 .fillna(5)
)

   0  1
0  0  4
1  1  5
2  2  6
3  3  7
0  4  8
1  5  9
2  6  5
3  7  5

In [44]:
df.apply(np.mean)

     0
0  1.5
1  5.5

In [45]:
(df
 .rename(columns={0:'first', 1:'second'})
 .groupby('first')
 .apply(np.mean)
)

       first  second
first
0          0       4
1          1       5
2          2       6
3          3       7

In [46]:
df.drop(0)

   0  1
1  1  5
2  2  6
3  3  7

In [47]:
df.drop(2, axis=0)

   0  1
0  0  4
1  1  5
3  3  7